# Ignore everything by default
*


# Keep only MATLAB scripts
!*.m
!README.md

# Ignore IDE/config folders
.idea/

# Ignore iteration and test folders
PSO SO iteration files from*/
FIRST RUN PSO JUST FOR CHECK/
MOPSO iteration files from*/
PSO SO Iteration files from (5) fifth run/
# Ignore data and other formats
*.mat
*.docx
*.pdf
*.xlsx
*.zip
*.png
*.ans
*.fem
